

html {
    background-color: yellow;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid white;
}

/*=============predefined elements================*/
html body a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}
/*=====================================================*/


/*=========logo=========*/
div.name h3 {
    font-size: 35px;
}

/* ========================= nav bar======================*/
div.navbar  {

}

.navbar, .navigation {
  border: 1px solid white;
}

nav.navigation {
   display: flex;
   align-items: center;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  justify-content: space-between;
  margin: 5px 10px;
}

#logo {
  font-size: xx-large;
  font-weight: 700;
}

.navigation a.nav-link {
    float: right;
    display: flex;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;      
    gap: 4px;
    font-size: 20px;
  }
  
  .navigation .nav-link a:hover {
    background-color: white;
    color: black;
  }
  
  .navigation .icon {
    display: none;
  }

div.cv button {
    background-color: orange;
    border-radius: 8px;
    width: 80px;
    height: 30px;
    border: none;
}

div.cv button a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*====================================================================================*/


/*========================================== main ==========================================================================*/

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 10px;
    border: 1px solid white;
}

.hero-content {
  align-items: center;
}

.hero-content h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;
}

.hero-content p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    
}

main div.hero-img {
    flex: 0 0 auto;
    
    margin-right: 90px;
}

div.hero-img img {
  
    height: 300px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 0 0 30px 20px rgb(247, 255, 14);
}

.hero-content {
    flex: 1 1 auto;
}
/*==========================================================================*/


/*====================================form ========================*/
.contact {
  text-align: center;
  padding: 40px 0;
  border: 1px solid white;
}

.contact_content {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  border: 1px solid white;
}

.section_title {
  margin-bottom: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
}

.contact_container {
  display: flex;  /* Display contact info and form in a row */
  flex-wrap: nowrap;  /* Allow wrapping on smaller screens */
  justify-content: space-between;  /* Spread elements evenly */
  margin-top: 40px;
}

.contact_info, .form_container {
    margin-bottom: 40px;
}

.contact_info {
  flex-basis: 40%;  /* Take 40% of the available width */
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_info dl {
  margin-bottom: 16px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 550;
}

.contact_list dt {
  float: left;
  text-transform: uppercase;
}

.contact_list dd {
  padding-left: 2.25em;
  margin-bottom: 0.94em;
}

.contact_socials img {
  width: 36px;
  height: 36px;
}

.form_container {
}

.form_container {
  flex-basis: 50%;
}

 /* Style inputs with type="text", select elements and textareas */
 input[type=text], input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 80%;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: yellow;
    padding: 20px;
  }

  .button_container {
    display: flex;
    justify-content: center;
  }
/*=========================================================================*/


/*==================== footer ==========*/
footer p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}
/*========================================================================================*/


/*==================================== responsive for mobile =============================*/
@media screen and (max-width: 650px) {

    .navigation a:not(:first-child) {display: none;}
    .navigation a.icon {
    float: left;
    display: block;
    justify-content: space-between;
  }

  .navigation.responsive {position: relative;}
  .navigation.responsive .icon {
    
  }
  .navigation.responsive .nav-link a {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .navigation.responsive .nav-link {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  #ham-menu {
    font-size: 30px;
  }

  .ham-menu {
    display: block;
  }

  .navigation {
      justify-content: center;
      align-items: center; 
    
      
  }

  #hero {
      display: block;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin: 0;
  }

  .contact_container {
    display: block;
  }

}


/*==================== responsive for mobile ==========*/
@media screen and (min-width: 910px) {

.hero-img {
        padding :0 80px 0 200px;
    }
}

@media screen and (max-width: 760px) {
  .contact_info,
  .contact_form {
    flex-basis: 100%;  /* Take full width on smaller screens */
  }
}